body { margin: 0; font-family: 'Segoe UI', sans-serif; background: linear-gradient(135deg, #e6f0f7, #f2f8fc); }


.main-title { font-size: 42px; text-align: center; margin-top: 20px; animation: glow 2s infinite alternate; color: white }
@keyframes glow { from { text-shadow: 0 0 10px #00c6ff; } to { text-shadow: 0 0 25px #00c6ff, 0 0 40px #0072ff; } }
.header-section { background: linear-gradient(rgba(10, 40, 60, 0.8), rgba(10, 40, 60, 0.9)), url("../static/bg1.png"); background-size: cover; padding: 80px 20px 40px; }
.main-desc { margin-top: 18px; font-size: 18px; color: rgba(255,255,255,0.85); max-width: 750px; margin: 0 auto; line-height: 1.7; text-align: center; }
.header { text-align: center; padding: 60px 20px 40px; background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); }
.logo { font-size: 40px; color: white; font-weight: bold; text-shadow: 0 0 15px rgba(0, 198, 255, 0.7); }


.features-section { padding: 40px; display: flex; justify-content: center; gap: 40px; margin-top: -40px; }
.feature-card { width: 350px; padding: 30px; border-radius: 20px; cursor: pointer; transition: 0.3s; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); background: rgba(255, 255, 255, 0.65); backdrop-filter: blur(12px); }
.feature-card:hover { transform: translateY(-8px) scale(1.03); }
.predictor { background: linear-gradient(135deg, #ff7eb3, #ff4d6d); color: rgb(1, 0, 0); }
.simplifier { background: linear-gradient(135deg, #43e97b, #00c9a7); color: rgb(17, 0, 0); }


.form-container { margin-top: 40px; display: flex; justify-content: center; width: 100%; }
form { padding: 30px; border-radius: 20px; background: rgba(148, 173, 180, 0.905); width: 100%; max-width: 420px; box-shadow: 0 10px 30px rgba(0,0,0,0.3); }
.input-group { position: relative; margin-bottom: 22px; }
.input-group input, .input-group select { width: 100%; padding: 12px; border: none; outline: none; border-radius: 10px; background: rgba(255, 251, 251, 0.712); font-size: 14px; }
.input-group label { position: absolute; left: 12px; top: 12px; color: #222020; font-size: 13px; pointer-events: none; transition: 0.3s ease; }
.input-group input:focus + label, .input-group input:valid + label, .input-group select:focus + label, .input-group select:valid + label { top: -8px; left: 8px; font-size: 16px; color: #fff9f9; background: rgb(7, 66, 59); padding: 0 5px; border-radius: 6px; }


.analyze-btn { width: 100%; padding: 12px; border-radius: 12px; background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); color: white; border: none; cursor: pointer; font-weight: bold; transition: 0.3s; }
.analyze-btn:hover { transform: translateY(-2px); box-shadow: 0 6px 20px rgba(0, 114, 255, 0.6); }


.big-card-result { background: white; border-radius: 25px; padding: 40px; margin-bottom: 35px; border-left: 15px solid #ccc; box-shadow: 0 15px 35px rgba(0,0,0,0.2); }
.big-card-result.high { border-left-color: #ff4d6d; }
.big-card-result.moderate { border-left-color: #ffb703; }
.percent-circle { background: #0f2027; color: #00c6ff; width: 65px; height: 65px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 18px; }
.risk-label-tag { background: #0f2027; color: white; padding: 6px 15px; border-radius: 30px; display: inline-block; font-size: 13px; margin-top: 5px; }
.pro-tip-box { background: #e3f2fd; padding: 15px; border-radius: 12px; color: #01579b; font-style: italic; margin-top: 15px; }

.separator { width: 70%; height: 1.5px; margin: 35px auto 50px; background: linear-gradient(to right, transparent, #00c6ff, transparent); opacity: 0.7; }
.disclaimer { text-align: center; margin-top: 30px; font-size: 14px; opacity: 0.8; }

.form-box-glass {
    padding: 30px;
    border-radius: 20px;
    background: rgba(148, 173, 180, 0.905);
    width: 90%;           
    max-width: 800px;     
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    box-sizing: border-box; 
}

#report {
    width: 100%;
    height: 250px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 251, 251, 0.712);
    font-family: inherit;
    font-size: 15px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

#report:focus {
    box-shadow: 0 0 8px rgba(0, 198, 255, 0.6);
}

.file-upload-section {
    margin-bottom: 20px;
    color: #222020;
    font-weight: 600;
}

.file-label {
    display: block;
    margin-bottom: 10px;
}


.report-detail-section h3 {
    margin-bottom: 8px;
}
